<div class="container p-5 col-4 mt-3 bg-light">
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Registro</legend>
      <div class="form-group">
        <label for="exampleInputEmail1"
               class="form-label mt-4">Email</label>
        <input formControlName="email"
               type="email"
               class="form-control"
               id="exampleInputEmail1"
               aria-describedby="emailHelp"
               placeholder="Correo eléctronico"
               required>
        <small id="emailHelp"
               class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"
               class="form-label mt-4">Contraseña</label>
        <input formControlName="password"
               type="password"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="Contraseña"
               required>
      </div>
      <div class="form-submit-content mt-4">
        <button [disabled]="form.invalid"
                type="submit"
                class="btn btn-primary">Enviar</button>
      </div>
    </fieldset>
  </form>
</div>
