<div class="form-container">
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()">
    <fieldset>
      <h3>{{ "auth_registro" | translate }}</h3>
      <div class="form-group">
        <label for="inputName"
               class="form-label mt-4">{{ "auth_nombre" | translate }}</label>
        <input formControlName="name"
               type="text"
               class="form-control"
               id="inputName"
               minlength="3"
               required>
      </div>
      <div class="form-group">
        <label for="inputEmail"
               class="form-label mt-4">{{ "auth_email" | translate }}</label>
        <input formControlName="email"
               type="email"
               class="form-control"
               id="inputEmail"
               aria-describedby="emailHelp"
               required>
        <small id="emailHelp"
               class="form-text text-muted">{{ "auth_alert_password" | translate }}</small>
      </div>
      <div class="form-group">
        <label for="inputPassword1"
               class="form-label mt-4">{{ "auth_password" | translate }}</label>
        <input formControlName="password"
               type="password"
               class="form-control"
               id="inputPassword1"
               required
               minlength="6">
      </div>
      <div class="form-group">
        <label for="inputPassword2"
               class="form-label mt-4">{{ "auth_repeat_password" | translate }}</label>
        <input formControlName="password2"
               type="password"
               class="form-control"
               id="inputPassword2"
               required
               minlength="6">
      </div>
      <div class="form-submit-content">
        <button [disabled]="form.invalid"
                type="submit"
                class="btn btn-primary">{{ "btn_registrar" | translate | uppercase}}</button>
      </div>
    </fieldset>
  </form>
</div>
