<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Información</font>
    </font>
  </li>
  <li class="breadcrumb-item"><a href="#/servicios">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Servicios</font>
      </font>
    </a></li>
  <li class="breadcrumb-item active">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Normas</font>
    </font>
  </li>
</ol>

<div class="container">
  <div class="col p-4 my-3 bg-light">
    <h3 class="text-center mb-3">
      Normas internas del apartamento
    </h3>

    <h5>Uso del alojamiento:</h5>
    <ol class="listado">
      <li>El cliente es responsable de hacer la declaración correcta del número de personas que ha de ocupar el apartamento, sin omitir los niños. La administración del apartamento puede legalmente negarse a admitir la entrada de aquellas personas no declaradas.</li>
      <li>Respetar el establecimiento, el equipamiento y sus instalaciones.</li>
      <li>El apartamento será entregado limpio y ordenado. El cliente se compromete a respetar el orden y limpieza del apartamento y a entregarlo en las mismas condiciones que le fue entregado</li>
      <li>La dirección del apartamento, posee una relación del equipamiento. A la salida se realiza un recuento de todo el equipamiento existente en el mismo (toallas, menaje...) En caso de notar la falta de algún elemento, se comunicará al cliente y se procederá a la pertinente denuncia ante las fuerzas y cuerpos de seguridad.</li>
    </ol>
    <h5>Entradas y salidas:</h5>
    <ol class="listado">
      <li>El horario de entrada en el apartamento será a partir de las 17:00 h. del día de llegada, debiendo quedar libre antes de las 11:00 h. del día de salida.</li>
      <li>Se ruega a los clientes que 30 minutos antes de la llegada nos avisen al teléfono de contacto facilitado.</li>
      <li>En el momento de entrada se deben de presentar los DNI de los clientes.</li>
    </ol>
    <h5>Comportamiento:</h5>
    <ol class="listado">
      <li>El cliente y sus acompañantes deberán comportarse de forma cívica y respetando las normas generales de convivencia.</li>
      <li>Cualquier actividad que disturbe la convivencia normal de la comunidad en la que se ubica el alojamiento, tal como música elevada, ruidos o fiestas, y que provoque las quejas fundadas de los vecinos, serán motivo para que se desocupe inmediatamente el alojamiento.</li>
      <li>Las HORAS DE DESCANSO son de 22:00 a 08:00 entre semana y de 00.00 a 10:00 los festivos, quedando terminantemente prohibidas, durante esos periodos, cualquier tipo de actividad que perturbe en cualquier manera el descanso.</li>
    </ol>
    <h5>Daños:</h5>
    <ol class="listado">
      <li>El cliente se obliga a cuidar el apartamento amueblado, siendo de su cargo los deterioros o pérdidas que se produzcan en el mismo.</li>
      <li>El establecimento no se hace responsable de los efectos personales del cliente ni de los acompañantes.</li>
    </ol>
    <h5>Prohibiciones:</h5>
    <ol class="listado">
      <li>Alojar mayor número de personas que las que correspondan a la capacidad máxima fijada al alojamiento.</li>
      <li>Ejercer la actividad de hospedaje en el alojamiento o destinarlo a fines distintos a aquellos para los que se ha contratado.</li>
      <li>Introducir materias o sustancias explosivas o inflamables u otras que puedan causar daños o molestias a los demás ocupantes del inmueble.</li>
      <li>Realizar cualquier actividad que atente contra las normas usuales de convivencia o el régimen normal de funcionamiento.</li>
      <li>Está prohibido utilizar, sin autorización, aparatos que alteren sensiblemente los consumos previstos en los suministros.</li>
      <li>Está prohibido organizar fiestas.</li>
      <li>No se permiten mascotas o animales domésticos.</li>
      <li>Desde la entrada de la nueva ley, está prohibido fumar en los apartamentos.</li>
    </ol>
  </div>
</div>
