<div id="{{identificador}}"
     class="carousel slide"
     data-bs-ride="carousel">
  <div class="carousel-indicators">
    <ng-container *ngFor="let imagen of imagenes; let i = index">
      <button type="button"
              [attr.data-bs-target]="'#' + identificador"
              [attr.data-bs-slide-to]="i"
              [class.active]="i == 0"
              [attr.aria-current]="i == 0"
              [attr.aria-label]="'Slide ' + (i + 1)"></button>
    </ng-container>
  </div>
  <div class="carousel-inner">
    <ng-container *ngFor="let imagen of imagenes; let i = index">
      <div class="carousel-item"
           data-bs-interval="2000"
           [class.active]="i == 0">
        <img src="{{ './assets/img/' + imagen.img }}"
             class="d-block w-100 img-thumbnail"
             alt="..." />
        <div *ngIf="imagen.title"
             class="carousel-caption d-none d-md-block">
          <h5 class="text-white">{{ imagen.title | translate }}</h5>
        </div>
      </div>
    </ng-container>
  </div>
  <button class="carousel-control-prev"
          type="button"
          [attr.data-bs-target]="'#' + identificador"
          data-bs-slide="prev">
    <span class="carousel-control-prev-icon"
          aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next"
          type="button"
          [attr.data-bs-target]="'#' + identificador"
          data-bs-slide="next">
    <span class="carousel-control-next-icon"
          aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
