<div class="container">
  <section class="informacion p-5 my-5 bg-light">
    <div class="row">
      <div class="col-12 text-center">
        <h3>
          Bienvenido
          <small class="text-muted">a la ciudad de Calatayud</small>
        </h3>
        <h6>Disfruta de un encantador apartamento en pleno centro de Calatayud, en una ubicación idónea para disfrutar con tu familia.</h6>
        <p>Cuna de 5 culturas, pues tenemos una ciudad celtíbera (Valdeherrera) a 9 kilómetros, una ciudad romana (Bílbilis) a 6 kilómetros, cinco castillos defensivos de época romana que unidos a su muralla hacen que sea el conjunto defensivo árabe más antiguo de toda la península (siglo VIII), la judería que llegó a ser de las más grandes de Aragón, y por supuesto, tres monumentos que son patrimonio de la humanidad (la torre, ábside y claustro de la Colegiata de santa María).
          Francisco
          de Goya pintó las pechinas en la iglesia de San Juan el Real y Fernando el Católico fue nombrado heredero en la iglesia de San Pedro de los Francos. Después de todo este recorrido, te recomiendo que tomes unas tapas en cualquiera de nuestros bares, dejando hueco para la comida, donde podrás degustar en nuestros restaurantes, el plato típico de la ciudad, garbanzos con congrio. Y si después quieres relajarte, te recomiendo que visites el parque natural del Monasterio de Piedra, un oasis
          cercano
          a esta ciudad, o probar cualquier balneario situado en los alrededores de la ciudad. Calatayud es cultura, tradición, naturaleza y gastronomía. <strong><em>Te animas?</em></strong></p>
      </div>
    </div>

    <div class="carrouselInicio">
      <div id="carouselInicio"
           class="carousel slide mb-5"
           data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button"
                  data-bs-target="#carouselInicio"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"></button>
          <button type="button"
                  data-bs-target="#carouselInicio"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
          <button type="button"
                  data-bs-target="#carouselInicio"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
          <button type="button"
                  data-bs-target="#carouselInicio"
                  data-bs-slide-to="3"
                  aria-label="Slide 4"></button>
          <button type="button"
                  data-bs-target="#carouselInicio"
                  data-bs-slide-to="4"
                  aria-label="Slide 5"></button>
          <button type="button"
                  data-bs-target="#carouselInicio"
                  data-bs-slide-to="5"
                  aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/img/inicio1.jpg"
                 class="d-block w-100"
                 alt="..."
                 height="600">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/inicio.jpg"
                 class="d-block w-100"
                 alt="..."
                 height="600">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/inicio4.jpg"
                 class="d-block w-100"
                 alt="..."
                 height="600">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/inicio2.jpg"
                 class="d-block w-100"
                 alt="..."
                 height="600">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/inicio3.jpg"
                 class="d-block w-100"
                 alt="..."
                 height="600">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/inicio7.jpg"
                 class="d-block w-100"
                 alt="..."
                 height="600">
          </div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselInicio"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon"
                aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carouselInicio"
                data-bs-slide="next">
          <span class="carousel-control-next-icon"
                aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>

  <section class="publiBlog">
    <h3>Publicaciones recientes del blog</h3>

  </section>

  <section class="comentarios p-5 my-5 bg-light">
    <div class="row">
      <div class="col-12 mb-5">
        <h3>Comentarios</h3>
      </div>
      <ul class="col-4">
        <blockquote>
          <img src="./assets/img/persona.png"
               alt=""
               class="comentario_img" />
          <p>“El piso era más grande de lo que esperábamos y la ubicación excelente, en todo el centro de Calatayud.”</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite>Julían</cite>
        </figcaption>
      </ul>

      <ul class="col-4">
        <blockquote>
          <img src="./assets/img/persona.png"
               alt=""
               class="comentario_img" />
          <p>"Apartamento decorado con un gusto exquisito y menaje muy completo. A los niños les gustó mucho el cuarto infantil con libros y juguetes a su disposición (todo un detalle). Fácil aparcamiento."</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite>María</cite>
        </figcaption>
      </ul>
      <ul class="col-4">
        <blockquote>
          <img src="./assets/img/persona.png"
               alt=""
               class="comentario_img" />
          <p>Un apartamento cómodo y súper céntrico. Hemos pasado el puente muy a gusto, un espacio con todas las comodidades y cálido. Muy bien situado en el centro de la ciudad.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite>Jesús</cite>
        </figcaption>
      </ul>
    </div>
  </section>

</div>
