<ol class="breadcrumb">
  <li class="breadcrumb-item active">
    <font style="vertical-align: inherit;">
      <span style="vertical-align: inherit;">{{ "menu_experiencias" | translate }}</span>
    </font>
  </li>
  <li class="breadcrumb-item active">
    <a href="#/restaurantes">
      <font style="vertical-align: inherit;">{{ "menu_experiencias_restaurantes" | translate }}</font>
    </a>
    -
    <font style="vertical-align: inherit;">{{ "menu_experiencias_lugares" | translate }}</font>
    -
    <a href="#/eventos">
      <font style="vertical-align: inherit;">{{ "menu_experiencias_eventos" | translate }}</font>
    </a>
    -
    <a href="#/entorno">
      <font style="vertical-align: inherit;">{{ "menu_entorno" | translate }}</font>
    </a>
  </li>
</ol>

<div class="row justify-content-center">
  <div class="col-10 my-3 text-center">
    <h3 class="mb-3">{{ "lugares_header" | translate }}</h3>
    <p>{{ "lugares_text" | translate }}</p>
  </div>
</div>
<app-cards [cards]="cards"></app-cards>
