<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 my-3 text-center">
      <h3>Visitar Calatayud
      </h3>
      <p>Calatayud, una ciudad monumental que fusiona entre sus calles un compendio de culturas, estilos y tradiciones. Está declarada Conjunto Histórico y Monumental desde 1967. Calatayud es un enclave indispensable del arte mudéjar. Déjate maravillar por la torre mudéjar más alta del mundo, declarada Patrimonio de la Humanidad por la UNESCO. </p>
    </div>
  </div>


  <div class="row row-cols-1 row-cols-2 g-4">
    <div class="col">
      <div class="card">
        <img src="./assets/img/casco.jpg"
             class="card-img-top"
             alt="...">
        <div class="card-body">
          <h5 class="card-title">Casco Histórico</h5>
          <p class="card-text">El Casco Antiguo de Calatayud atesora interesantes monumentos. Son numerosas las opciones para recorrerla desde un punto de vista arquitectónico, cultural o artístico, destacando sin duda, su Mudéjar, declarado por la UNESCO “Patrimonio de la Humanidad”. Paseos por una ciudad donde no existen las prisas, porque todo está cerca, recorriendo sus calles llenas de historia, salpicadas de Iglesia y Palacios, de plazas y jardines, y de un estilo de vida que es la esencia
            misma de la ciudad.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/img/castillo.jpg"
             class="card-img-top"
             alt="...">
        <div class="card-body">
          <h5 class="card-title">Castillo de Ayub</h5>
          <p class="card-text">Castillo Mayor que forma el conjunto fortificado, uno de los mas complejos y antiguos conservado en Al-Ándalus. El conjunto defensivo de Calatayud está formado por cinco castillos unidos por más de 2.250 metros de lienzos de muralla conservados en la actualidad. En la muralla existe un interesante arco de herradura de tipo califal.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/img/juderia.png"
             class="card-img-top"
             alt="...">
        <div class="card-body">
          <h5 class="card-title">Judería</h5>
          <p class="card-text">La judería se situaba, a modo de promontorio, encaramada en torno al castillo de Don Álvaro o Doña Martina, también conocido como castillo de la Judería. El barrio poseía una vía de acceso principal que arrancaba, posiblemente a través de un arco de medio punto, desde la plaza de San Andrés, y ascendía por la cuesta de Santa Ana.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/img/bilbilis.jpg"
             class="card-img-top"
             alt="...">
        <div class="card-body">
          <h5 class="card-title">Yacimiento arqueológico de Bilbilis</h5>
          <p class="card-text">La ciudad de Bilbilis se extiende por las cimas y laderas de los cerros de Bámbola, San Paterno y Santa Bárbara. Aconsejamos comenzar la visita por el Museo de Calatayud, donde os facilitarán información sobre Bilbilis y podréis conocer sus restos materiales (impactantes
            restos de pintura romana). A continuación, visitad Bilbilis, es una visita libre con una localización geográfica que os va a encantar. Vais a poder ver edificios muy interesantes como el teatro o las termas, entre otros.</p>
        </div>
      </div>
    </div>
  </div>
</div>
