<ol class="breadcrumb">
  <li class="breadcrumb-item active">
    <font style="vertical-align: inherit;">
      <span style="vertical-align: inherit;">{{ "menu_informacion" | translate }}</span>
    </font>
  </li>
  <li class="breadcrumb-item active">
    <a href="#/servicios">
      <font style="vertical-align: inherit;">{{ "menu_informacion_servicios" | translate }}</font>
    </a>
    -
    <a href="#/normas">
      <font style="vertical-align: inherit;">{{ "menu_informacion_normas" | translate }}</font>
    </a>
    -
    <font style="vertical-align: inherit;">{{ "menu_informacion_condiciones" | translate }}</font>
  </li>
</ol>
<div class="cosas-importantes"
     [innerHTML]=" 'condiciones' | translate">
</div>
