<div class="container">
  <div class="col p-4 my-3 bg-light">
    <h3 class="text-center mb-3">
      Condiciones generales
    </h3>

    <h5>Condiciones de admisión:</h5>
    <ol class="listado">
      <li>Los clientes, sin excepción, estarán obligados a presentar el documento de identificación (DNI/NIE) en el momento de su admisión en el establecimiento.</li>
      <li>Se prohíbe el acceso de personas acompañadas de animales, a excepción de las personas que precisen de perros guías por presentar disfunción visual.</li>
      <li>Por razones de seguridad y protección, no están permitidas las visitas al apartamento o su utilización, por personas no inscritas en la reserva. El incumplimiento de esta norma, dará derecho al propietario a tomar las medidas que estime oportunas, incluso desalojo.</li>
      <li>En caso de cualquier incumplimiento de las normas del alojamiento, el propietario por criterio propio tiene el derecho de pedirle al cliente desocupar el establecimiento y el cliente no tendrá el derecho de ninguna compensación.</li>
    </ol>
    <h5>Disponibilidad y confirmación de reserva:</h5>
    <ol class="listado">
      <li>La petición de información sobre el estado de disponibilidad del establecimiento no implica la aceptación de la reserva por parte del propietario.</li>
      <li>Todas las reservas se garantizarán mediante una transferencia bancaria antes de las 48 horas siguientes de la aceptación de la "Prerreserva" por parte del propietario.</li>
      <li>El cliente deberá hacer una transferencia en la cuenta corriente que se le facilita en concepto de anticipo, a efectos de formalizar la Reserva, indicando su nombre y la fecha de entrada.</li>
      <li>La reserva no quedará efectuada hasta que el propietario no haya recibido el pre-pago de la confirmación. Cuando el pago de reserva no haya sido confirmado por el propietario, el establecimiento se reserva el derecho a proponer el alojamiento a otros clientes.</li>
      <li>El disfrute del alojamiento y de otros servicios, durará el plazo convenido entre el establecimiento y el cliente. Cualquier ampliación o reducción del plazo previamente pactado tendrá que ser consultado al propietario.</li>
    </ol>
    <h5>Anulación:</h5>
    <ol class="listado">
      <li>En caso de anulación se aplicarán una serie de gastos en función de la antelación con que se avise. Todos los gastos derivados de la misma irán a cargo del cliente.</li>
      <li>En caso de abandono del establecimiento con antelación a lo pactado entre las dos partes se cobrará el total de lo acordado para la estancia, en concepto de daños y perjuicios causados.</li>
      <li>También será aplicable la política de cancelación a aquellas anulaciones realizadas durante la estancia sin haber cumplido con las noches reservadas.</li>
    </ol>
    <h6>COVID-19</h6>
    <ol class="listado">
      <li>El alojamiento ha sido perfectamente ventilado y desinfectado para que su estancia sea segura. Hemos puesto especial cuidado en la desinfección de pomos, manillas, grifos y lugares y objetos que puedan haber sido objeto de manipulación.</li>
      <li>Por su seguridad y por la de todos, es importante que compruebe su temperatura y síntomas característicos del Covid-19 antes de iniciar el viaje.</li>
      <li>En respuesta al coronavirus (COVID-19), el alojamiento aplica medidas sanitarias y de seguridad adicionales en estos momentos.</li>
      <li>Por favor, tenga en cuenta que la información está sujeta a cambios con el paso del tiempo y supeditada a las decisiones de las autoridades gubernamentales y sanitarias.</li>
    </ol>

  </div>
</div>
