:host {
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 1;
}

.nav-link {
  display: flex;
  flex-flow: column;
  padding-top: 2px;
  padding-bottom: 2px;
}
.btn-group {
  background-color: var(--bs-gray-light);
  border-radius: 0.4rem;
}
.login-btn {
  margin-right: 1em;
}
