<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand"
       href="#">Apartamento Ayub</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div #navbar
         class="collapse navbar-collapse"
         id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <ng-container *ngFor="let item of menuItems">
          <li class="nav-item"
              [class.dropdown]="item.children">
            <ng-container *ngIf="item.link; else dropdown">
              <a class="nav-link"
                 [class.active]="item.active"
                 href="#"
                 [routerLink]="item.link">
                {{ item.name | translate }}
              </a>
            </ng-container>
            <ng-template #dropdown>
              <a class="nav-link dropdown-toggle"
                 data-bs-toggle="dropdown"
                 href="#"
                 role="button"
                 aria-haspopup="true"
                 aria-expanded="false">
                {{ item.name | translate }}
              </a>
              <div class="dropdown-menu"
                   data-bs-popper="none">
                <ng-container *ngFor="let child of item.children">
                  <a class="dropdown-item"
                     [class.active]="child.active"
                     [routerLink]="child.link">
                    {{ child.name | translate }}
                  </a>
                </ng-container>
              </div>
            </ng-template>
          </li>
        </ng-container>
      </ul>
      <ng-container *ngIf="currentUser; else logOptions">
        <ul class="navbar-nav ">
          <li class="nav-item dropdown user-button">
            <button class="nav-link dropdown-toggle login-btn btn btn-secondary user-options"
                    data-bs-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false">
              {{currentUser.name | uppercase}}
            </button>
            <div class="dropdown-menu user-settings"
                 data-bs-popper="none">
              <div class="user-profile">
                <div class="user-data">
                  <span>{{currentUser.name}}</span>
                  <span class="user-email">{{currentUser.email}}</span>
                </div>
                <div class="user-avatar"
                     [style.backgroundImage]="userAvatar">
                </div>

              </div>
              <a class="dropdown-item"
                 routerLink="auth/cliente">
                Mis datos
              </a>
              <a class="dropdown-item"
                 routerLink="auth/reservas">
                Mis reservas
              </a>
              <a class="dropdown-item"
                 routerLink="auth/feedback">
                Feedback
              </a>
              <a class="dropdown-item"
                 (click)="logout()">
                Cerrar sesion
              </a>
            </div>
          </li>
        </ul>
      </ng-container>
      <ng-template #logOptions>
        <div class="log-options">
          <button type="button"
                  class="btn btn-secondary login-btn"
                  routerLink="auth/login">LOGIN</button>
          <button type="button"
                  class="btn btn-secondary login-btn"
                  routerLink="auth/signup">SIGNUP</button>
        </div>
      </ng-template>
      <!-- <div class="btn-group"
           role="group"
           aria-label="Basic radio toggle button group">
        <ng-container *ngFor="let lang of languages">
          <input type="radio"
                 class="btn-check"
                 name="btnradio"
                 [attr.id]="lang.name"
                 autocomplete="off"
                 [attr.checked]="lang.key == currentLang"
                 (click)="changeCurrentLanguage(lang)">
          <label class="btn btn-outline-secondary"
                 [attr.for]="lang.name"
                 (click)="changeCurrentLanguage(lang)">
            {{ lang.name}}
          </label>
        </ng-container>
      </div> -->
    </div>
  </div>
</nav>
