<div class="container">
  <div class="row">
    <div class="col-10 my-3 text-center">
      <h3>Blog</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="noticias">
        <div class="d-block mb-5">
          <div class="box"
               style="background-image: url(./assets/img/santamaria1.jpg);">
            <div class="first">
              <h2>Reapertura de la colegiata de Santa Maria la Mayor</h2>
            </div>
            <div class="second">
              <p>Calatayud vive el próximo lunes un día histórico. Han pasado doce años desde que la Colegiata de Santa María cerró sus puertas debido al grave estado estructural que presentaba. Más de una década con numerosas intervenciones para que el templo reabra mostrando todo su esplendor. Este lunes, día 9 de mayo, se celebra el acto institucional de reapertura con la presencia del secretario general de Agenda Urbana, David Lucas, y numerosas autoridades nacionales, autonómicas y locales.
              </p>
              <p><small>06 MAYO, 2022</small></p>
            </div>
          </div>
        </div>
        <div class="d-block mb-5">
          <div class="box"
               style="background-image: url(./assets/img/ucrania.jpeg);">
            <div class="first">
              <h2>Ayuntamiento y Policía Nacional organizan las 'Jornadas solidarias con el pueblo ucraniano'.</h2>
            </div>
            <div class="second">
              <p>El Ayuntamiento de Calatayud y la Policía Nacional organizan los próximos domingos 8 y 15 de mayo las 'Jornadas solidarias con el pueblo ucraniano'. Un programa que tiene la finalidad de animar a la solidaridad de los ciudadanos con donaciones de productos y materiales que precisan las familias refugiadas que se encuentran en Calatayud.</p>
              <p><small>05 MAYO, 2022</small></p>
            </div>
          </div>
        </div>
        <div class="d-block mb-5">
          <div class="box"
               style="background-image: url(./assets/img/ribota.jpg);">
            <div class="first">
              <h2>Calatayud recupera la tradicional romería al Cristo de Ribota</h2>
            </div>
            <div class="second">
              <p>El 1 de mayo es una fecha marcada en el calendario bilbilitano y este año la celebración adquiere mayor protagonismo, después de dos años sin celebrarse debido a la pandemia.
                Los alrededores de la ermita de San Julián, conocida popularmente como 'ermita del Cristo de Ribota' se llenarán de ambiente festivo para que familiares y amigos disfruten de un día de hermandad. También es habitual la acampada colectiva de jóvenes la noches anterior a la romería.
                Debido a esta celebración, el Área de Medio Ambiente del Ayuntamiento de Calatayud ha organizado una reunión con el fin de mantener la seguridad durante el evento, con miembros de Policía Nacional, Guardia Civil, Seprona, Agentes de Protección de la Naturaleza del Gobierno de Aragón, Policía Local, Cruz Roja, Protección Civil y Bomberos de Diputación Provincial de Zaragoza.</p>
              <p><small>28 ABRIL, 2022</small></p>
            </div>
          </div>
        </div>
        <div class="d-block mb-5">
          <div class="box"
               style="background-image: url(./assets/img/cabezudos.jpg);">
            <div class="first">
              <h2>San Jorge 2022</h2>
            </div>
            <div class="second">
              <p>El próximo sábado, 23 de abril, San Jorge, Patrón de Aragón, los Gigantes y Cabezudos saldrán a la calle.
                También los pequeños tienen ganas de normalidad y algo que tanto han echado de menos en estos meses han sido los cabezudos. Por eso, la Comparsa de Gigantes y Cabezudos de Calatayud, del Grupo Cultural AJB Calatayud, recorrerá las calles de la ciudad divirtiendo a todos los pequeños.</p>
              <p><small>20 ABRIL, 2022</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mt-5">
      <section class="entradas">
        <h5>Entradas</h5>
        <div class="list-group list-group-flush">
          <a href="#"
             class="list-group-item list-group-item-action">Mayo</a>
          <a href="#"
             class="list-group-item list-group-item-action">Abril</a>
          <a href="#"
             class="list-group-item list-group-item-action">Marzo</a>
          <a href="#"
             class="list-group-item list-group-item-action">Febrero</a>
          <a href="#"
             class="list-group-item list-group-item-action">Enero</a>
        </div>
      </section>
    </div>


  </div>
</div>
