<footer class="bg-light text-center text-white pb-2">
  <div class="container-fluid p-4 mb-4 bg-dark">
    <div class="box">
      <form style="text-align: left">
        <div class="row justify-content-evenly">
          <div class="col-3">
            <div class="form-group">
              <div class="input-group">
                <input readonly=""
                       rel="checkin"
                       type="text"
                       class="form-control datepicker_input in hasDatepicker"
                       name="checkIn"
                       autocomplete="off"
                       placeholder="Llegada">
                <span class="be-click-icon in-icon input-group-addon"><span class="glyphicon glyphicon-calendar color-main"></span></span>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <div class="input-group">
                <input readonly=""
                       rel="checkout"
                       type="text"
                       onchange="be_caldate()"
                       class="form-control datepicker_input out hasDatepicker"
                       autocomplete="off"
                       placeholder="Salida">
                <span class="be-click-icon out-icon input-group-addon"><span class="glyphicon glyphicon-calendar color-main"></span></span>
              </div>
            </div>
          </div>
          <div class="col-3">
            <select class="form-select"
                    aria-label="Default select example">
              <option selected>Adultos</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <div class="col-3">
            <a style="width: 100%"
               class="btn btn-primary">RESERVAR</a>
          </div>
        </div>

      </form>
    </div>
  </div>

  <section class="social-links mb-2">
    <span class="text-muted">Síguenos en:</span>
    <a class="btn btn-primary btn-floating m-3"
       style="background-color: #3b5998;"
       href="#!"
       role="button"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-primary btn-floating m-3"
       style="background-color: #55acee;"
       href="."
       role="button"><i class="fab fa-twitter"></i></a>
    <a class="btn btn-primary btn-floating m-3"
       style="background-color: #ac2bac;"
       href="#!"
       role="button"><i class="fab fa-instagram"></i></a>
    <a class="btn btn-primary btn-floating m-3"
       style="background-color: #0082ca;"
       href="#!"
       role="button"><i class="fab fa-linkedin-in"></i></a>
  </section>

  <section class="links text-center p-3">
    <div class="row">
      <div class="col-md">
        <a href="#!"
           class="text">EMPRESA</a>
      </div>
      <div class="col-md">
        <a href="#!"
           class="text">INFORMACIÓN</a>
      </div>
      <div class="col-md">
        <a href="#!"
           class="text">MI CUENTA</a>
      </div>
      <div class="col-md">
        <a href="#!"
           class="text">Politica de Cookies</a>
      </div>
    </div>
  </section>

  <section class="copyright text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white"
       href="">Apartamento Ayub</a>
  </section>

</footer>
