footer {
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: 600ms;
}
.container-fluid {
  padding: 10px 20px;
  margin: 0px !important;
}
form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .col-3 {
    padding: 6px;
    min-width: 120px;
    flex-grow: 1;
  }
}
.footer-details {
  padding-top: 8px;
}

.empresa {
  justify-content: space-between;
}
