<div class="container">
  <section class="description p-5 my-3 bg-light">
    <div class="col-11 text-center mb-3">
      <h3>Apartamento Ayub
      </h3>
      <h6>Disfruta de un encantador apartamento en pleno centro de Calatayud, en una ubicación idónea para disfrutar con tu familia.</h6>
      <p>Apartamento ubicado en el centro de Calatayud, aproximadamente a 5 minutos andando de los edificios más importantes. El apartamento esta en la primera planta del edificio sin ascensor, dispone de unos 80 metros cuadrados aproximadamente. Con suelo de madera y calefacción. El dormitorio principal se amuebla con cama de matrimonio y armario empotrado. El segundo dormitorio esta provisto de una cama individual que se puede hacer de matrimonio. La zona de estar se
        compone de salón-comedor
        con dos balcones exteriores a la calle que aportan la luz natural al apartamento. Además de un baño y cocina totalmente equipados. Dispone de Wifi para todo el apartamento.</p>
    </div>
    <div class="apartamento-slide">
      <div id="carouselApartamento"
           class="carousel slide"
           data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button"
                  data-bs-target="#carouselApartamento"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"></button>
          <button type="button"
                  data-bs-target="#carouselApartamento"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
          <button type="button"
                  data-bs-target="#carouselApartamento"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/img/principal.jpg"
                 class="d-block w-100 img-thumbnail"
                 alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/cabecero.jpg"
                 class="d-block w-100"
                 alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/niños.jpg"
                 class="d-block w-100"
                 alt="...">
          </div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselApartamento"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon"
                aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carouselApartamento"
                data-bs-slide="next">
          <span class="carousel-control-next-icon"
                aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


  </section>

  <section class="mapa">
    <h3 class="text-center">
      Localización
    </h3>

    <google-map [center]="position">
      <map-marker [position]="position"></map-marker>
    </google-map>

  </section>

</div>
