<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 text-center">
      <h3>Eventos
      </h3>
      <p>La atracción de los balnearios, una de las fórmulas turísticas con mayor proyección en Aragón, el encanto del Monasterio de Piedra, la historia y la cultura de Calatayud, el sabor de las poblaciones que conforman esta comarca. un recorrido mágico con infinidad de alternativas con las que complacer los más diversos deleites.</p>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="face front">
          <img src="./assets/img/semanasanta.jpg"
               class="card-img-top"
               alt="...">
        </div>
        <div class="face back">
          <h5 class="card-title">Semana Santa Bilbilitana</h5>
          <p class="card-text">La Semana Santa de Calatayud, Declarada Interés Turístico de Aragón, está considerada por el Ministerio de Cultura como una de las más antiguas y peculiares de España, encabezando la breve lista de poblaciones españolas que cuentan con una importante representación bíblica. 12 cofradías y hermandades de penitencia forman la Junta Mayor de Semana Santa, Orden Tercera de San Francisco, Corporación que organiza todos los actos que componen este ciclo litúrgico.
            Durante toda la Semana, diversos actos y procesiones componen el importante y abundante programa de actos. Alcanza su punto álgido el Viernes Santo, cuando por la tarde desde la iglesia de San Juan, el real, parte la antiquísima procesión del Santo Entierro que data del siglo XV. En esta gran manifestación popular de fe, participan 24 pasos procesionales realizadas entre los siglos XVII al XX, portados por las 12 cofradías o hermandades penitenciales y más de 300 personajes del
            antiguo y nuevo testamento, formando las dos partes de la procesión, el Antiguo y Nuevo Testamento. En la plaza de España, se celebra el importante y antiguo Auto Sacramental del Entierro de Cristo.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="face front">
          <img src="./assets/img/alfonsadas.jpg"
               class="card-img-top"
               alt="...">
        </div>
        <div class="face back">
          <h5 class="card-title">Las Alfonsadas</h5>
          <p class="card-text">Las Alfonsadas son una recreación histórica medieval de la Reconquista de Calatayud por el rey aragonés Alfonso I "El Batallador" en el año 1120. Visualmente es un espectáculo porque toda la ciudad hace un viaje en el tiempo para recrear el ambiente de la reconquista, llenándose de escudos y adornos. Se puede disfrutar en el primer fin de semana de junio, durante todos los días de la fiesta, de un enorme mercado medieval, que llena la Plaza de España y todas las
            calles del casco antiguo, espectáculos y atracciones medievales, exhibición de aves rapaces, danzas, juegos, cuentacuentos, luchas de caballeros, torneos, conciertos, espectáculos de calle….</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="face front">
          <img src="./assets/img/roque.jpg"
               class="card-img-top"
               alt="...">
        </div>
        <div class="face back">
          <h5 class="card-title">Fiestas de San Roque</h5>
          <p class="card-text">Las fiestas en honor a San Roque en Calatayud, están declaradas Fiestas de Interés Turístico Regional. Son fiestas organizadas en su totalidad por Las Peñas y la comisión de Interpeñas, así pues son fiestas creadas por y para peñistas, aunque cualquier persona puede hacerse peñista y participar. Se desarrollan a mediados de Agosto, normalmente del 13 al 16. Hay un total de 10 peñas, donde los peñistas generalmente van vestidos de blanco y se complementa con una
            camisa, que varía de color dependiendo de su peña. Cada peña organiza un programa festivo propio incluyendo conciertos, espectáculos, comidas, etc. Son destacables los festejos taurinos que se celebrar en el Coso de Margarita. Uno de los acto principales es la Romería a san Roque, que se realiza la madrugada del 15 al 16 de Agosto. Se sube hasta la ermita del santo donde se toca una campana, se rezan los gozos y se finaliza con un vaso de chocolate y bizcochos que se reparte a todos
            aquellos que han subido a ver al santo.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="face front">
          <img src="./assets/img/peña.jpg"
               class="card-img-top"
               alt="...">
        </div>
        <div class="face back">
          <h5 class="card-title">Fiestas Virgen de la Peña</h5>
          <p class="card-text">La ciudad de Calatayud, toma como patrona a la Virgen de la Peña en el siglo XIX, aunque la ciudad siempre le rindió culto desde su aparición milagrosa en el siglo XII, cuando tras la reconquista una estrella se posaba todas las noches en un mismo punto de un cerro elevado de la ciudad y se escuchaba débilmente como un sonar de campana. Allí la población intrigada escavó y en una gruta aparición una campa y debajo de ella la imagen sedente de la Virgen María con el
            niño Jesús en su regazo. Se tanta de una imagen del siglo X que fue escondida en la invasión musulmana y allí permaneció oculta hasta el momento de su descubrimiento. Sobre este cerro o peña se edificó un santuario utilizando parte de la edificación de la muralla islámica, donde hoy permanece y recibe su nombre de Peña.</p>
        </div>
      </div>
    </div>
  </div>
</div>
